.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(160, 220, 219);
  /* margin-top: 30px; */
}

.singleQuestion {
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(160, 220, 219);
  border-radius: 7px;
  padding: 20px;
  margin-top: 10px auto;
  font-size: 1.5vw;
}

.options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.singleOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 46%;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.5vw;
}

@media (max-width: 614px) {
  .singleOption {
    width: 100%;
  }
  .singleQuestion {
    font-size: 2vw;
  }
  .singleOption{
    font-size: 2.3vw;
  }
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 30px;
}

.select {
  background-color: rgb(7, 207, 0);
  color: white;
  box-shadow: 0 0 1px black;
}

.wrong {
  background-color: rgb(233, 0, 0);
  color: white;
  box-shadow: 0 0 1px black;
}

h2 {
  font-weight: 400;
}
